@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-nav {
  animation: sticky-nav 300ms;
}

div.scroll
{
  overflow-x:scroll;
  white-space: nowrap;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}

section {
  font-family: "Inter", sans-serif;
}


.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}